relaxng-2/xmlexercise1schema.rnc

start = letter

letter = element letter { sender, header, place, date, paragraph+, source }
sender = attribute sender { text }

header = element header {when, text}
when = attribute when {xsd:date | xsd:gYearMonth | xsd:gYear}

place = element place { type, text }
type = attribute type { "ship" | "boat" | "yacht" }

date = element date { season, text }
season = attribute season { "summer" | "winter" | "spring" | "fall" }

paragraph = element paragraph { mixed { (location | organization)* } }

location = element location { text }

organization = element organization { text }

source = element source { text }