Relax NG Exercise 4/ross-rng4.rnc

# DIGIT 110 RELAX NG PRE-TEST HOMEWORK INSTRUCTIONS:  
# * You're downloading two files: Rename these files according to our standard file naming conventions for Canvas submissions (as in: beshero-rng4.xml and beshero-rng4.rnc)
# * Make the schema well-formed and document with  # comments where you made change(s). 
# * Then, associate the schema with the XML file we have provided for the exam.
# * Next, correct the schema code so that it validates the XML (happy green oXygen for both documents) and document briefly with # comments what you changed and why.
#  **NOTE**: DO NOT CHANGE the markup in the XML file, except to add your schema line!
#
# TIPS: 
# There are 13 critical errors in this Relax-NG schema that will make oXygen's error-checking box RED. Only a few of them will appear at first in the Relax NG. 
# More errors will be revealed when you associate the schema with the XML file.
# Your goal is to correct each of these errors.

# First, correct the schema file so it "turns green" in oXygen and write a comment to document each correction.
# Then, associate your corrected  schema with the XML (and remove the original schema line). 
# At that point the other validation errors will become evident in the XML file.)
# Remember to split your oXygen screen (Window -> Tile Editors Vertically), and carefully examine the XML to see how 
# the elements are written. 
# DO NOT CHANGE THE MARKUP IN THE XML FILE. Make ALL corrections in the Relax NG Schema to make the XML valid according to the schema.
# Save the schema and use the red checkmark in oXygen to check the validation as you go.
#
# SUBMITTING YOUR WORK:
# When you are finished, upload BOTH the schema and the XML file to Canvas using the posted upload point for this exam. 
# You may zip the files to submit them just as you have done for homework assignments.

namespace xsd = "http://www.w3.org/2001/XMLSchema-datatypes"  # Added so datatype refs work

start = xml
xml = element xml {metadata, recipe}

metadata = element metadata {title, author, editor, source, time, yield}  # added yield


title = element title {text}
author = element author {attribute id {xsd:ID}, text}   # changed {id, text} → attribute id + text
editor = element editor {attribute id {xsd:ID}, text}   # same reason

source = element source {attribute url {xsd:anyURI}, text}  # changed from empty → text with url attribute

time = element time {attribute dur {xsd:duration}, text} # <time> has dur attribute and text
yield = element yield {text}  # added because XML includes <yield>

id = attribute id {xsd:ID}  # corrected attribute name to "id"
url = attribute url {xsd:anyURI}
dur = attribute dur {xsd:duration}

recipe = element recipe {ingList, prep}

ingList = element ingList {heading, ing+}
heading = element heading {text}
ing = element ing {
  attribute id {xsd:ID},
  attribute quant {xsd:float}?,
  attribute unit {"cup" | "T" | "t" | "F" | "C" | "inch" | "pint"}?,  # added "pint" 
  mixed {alt*}
}

alt = element alt { # <alt> has quant/unit attributes + text
  attribute quant {xsd:float}?,
  attribute unit {"cup" | "T" | "t" | "F" | "C" | "inch"}?,
  text
}

quant = attribute quant {xsd:float}
unit = attribute unit {"cup" | "T" | "t"  | "F" | "C" | "inch"}

prep = element prep {heading, step?}
step = element step {
  attribute n {xsd:integer},  # changed datatype from date → integer
  mixed {combine* | equip* | equipUse* | ingUse*}
}
equip = element equip {
  attribute id {xsd:ID},
  mixed {(equip | equipUse | setting | time | size | temp)*}
}

temp = element temp {quant, unit, text}
size = element size {depth, unit, text}
depth = attribute depth {xsd:float}
equipUse = element equipUse {ref, mixed{(temp | size | equip | equipUse | ingUse | setting | time)*}}
ingUse = element ingUse {ref, quant, unit, text}
ref = attribute ref {xsd:IDREFS}
combine = element combine {
  attribute ref {xsd:IDREFS},
  mixed {ingUse*}
}  # allows text + ingUse inside <combine>


n = attribute n {xsd:date}
setting = element setting {text}  # added definition to fix "undefined pattern" error











